@mixin bluegreen_bkgd{
  background:linear-gradient(45deg, #31d386 0%,#2798df 100%);
  color:#fff;
}
@mixin header_bkgd{
  background-color:#4c4b4b;
  color:white;
}

@mixin text_clip{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -moz-background-clip: text;
}

.cst_header_background{
  @include bluegreen_bkgd;
  display:inline-block;
}
input, textarea{
  padding:2px 5px;
}

$button_color:#4c4b4b;
$section_padding:2.5vh;


.cst_header_text{
  background-color:#fff;
  height:100%;
  display:inherit;
  h1{
    @include text_clip
  }
}
