.cst_header_background {
  background: linear-gradient(45deg, #31d386 0%, #2798df 100%);
  color: #fff;
  display: inline-block;
}

input, textarea {
  padding: 2px 5px;
}

.cst_header_text {
  background-color: #fff;
  height: 100%;
  display: inherit;
}

.cst_header_text h1 {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -moz-background-clip: text;
}
