html * {
  font-family: 'Open Sans', sans-serif;
}

header {
  text-align: center;
  border-bottom: 1px solid grey;
  padding: 1vw;
  width: 100%;
  font-size: 1.25em;
}

header ul {
  list-style: none;
  display: inline-block;
  margin-bottom: 0px;
}

header ul li {
  float: left;
  margin-right: 1.5em;
  cursor: pointer;
}

.top_padding {
  margin-top: 2.5vh;
}

input[type="radio"] {
  -webkit-appearance: checkbox;
  /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;
  /* Firefox */
  -ms-appearance: checkbox;
  /* not currently supported */
}

body {
  text-align: center;
}

.coming_soon_title {
  font-size: 3.5em;
  margin-bottom: 0px;
}

.main-subtitle {
  width: 40vw;
  display: inline-block;
  margin-top: 3.5vh;
}

.visitor_buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15vh;
}

.visitor_buttons * {
  text-transform: uppercase;
  height: 15vh;
  width: 25vw;
  background-color: #4c4b4b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: #fff;
  font-size: 3vw;
  cursor: pointer;
}

.sponsored_by {
  margin-top: 15vh;
}

.sponsored_by h2 {
  font-family: 'Open Sans',sans-serif;
  font-weight: lighter;
  color: #ada8a8;
}

.host_title {
  font-size: 4.5em;
}

.qualifications_msg h3 {
  margin: 1.5vh 0vh 3vh 0vh;
}

.qualifications_list {
  text-align: left;
  width: 65vw;
  display: inline-block;
}

.slots_avail {
  margin-top: 2.5vh;
}

.slots_avail h3 {
  display: inline;
  margin-right: 2vw;
}

.slots_avail .slots_number {
  padding: 0vw 1.15vw;
  border: 1px solid #000;
  font-size: 3.5vw;
  font-weight: bold;
}

.address_checker {
  font-weight: lighter;
}

.address_checker h3 {
  display: inline;
  margin-right: 2vw;
  font-weight: lighter;
}

.address_checker input {
  margin-right: .75vw;
  width: 40vw;
}

.address_checker .row {
  width: 45vw;
  display: inline-block;
}

.address_checker .row * {
  text-align: left;
  padding: 0px;
}

.address_checker .checker_submit {
  background-color: #4c4b4b;
  padding: .5vw 1vw;
  cursor: pointer;
  color: #fff;
}

.address_checker .checker_addr {
  font-size: 1.75em;
}

.checker_margin {
  margin-top: 2.5vh;
}

.radius_map {
  text-align: center;
  margin-top: 4.5vh;
}

.radius_map .map_element {
  display: inline-block;
  border: 1px solid #000;
  height: 30vw;
  width: 45vw;
}

.host_form form, .guest_form form {
  text-align: left;
  width: 45vw;
  display: inline-block;
}

.host_form form *, .guest_form form * {
  display: inline-block;
}

.host_form form > div, .guest_form form > div {
  margin-top: 2.5vh;
  width: 100%;
}

.host_form form .form_labels, .guest_form form .form_labels {
  width: 40%;
}

.host_form form .form_labels div, .guest_form form .form_labels div {
  float: right;
}

.host_form form .form_labels div input, .host_form form .form_labels div label, .guest_form form .form_labels div input, .guest_form form .form_labels div label {
  margin-left: .75em;
}

.host_form form .form_inputs, .guest_form form .form_inputs {
  width: 55%;
}

.host_form form .form_inputs input, .guest_form form .form_inputs input {
  width: 100%;
  border: 1px solid #000;
}

.guest_form {
  margin-bottom: 15vh;
}

@media only screen and (min-width: 355px) and (max-width: 668px) {
  .form_labels, .form_inputs {
    display: none;
  }
}

.reminder {
  width: 75%;
  display: inline-block;
  margin-top: 2.5vh;
}

.feedback .feedback_msg, .feedback .feedback_options {
  width: 45vw;
  display: inline-block;
  text-align: left;
}

.terms_conditions {
  margin-top: 2.5vh;
}

.terms_conditions label {
  cursor: pointer;
  text-decoration: underline;
}

.submit_btn {
  margin-top: 2.5vh;
  text-align: center;
}

.main_submit {
  font-size: 2em;
  padding: .35em;
  color: #fff;
  background-color: #4c4b4b;
  cursor: pointer;
}

.main_submit:hover {
  background-color: #000;
}

.feedback_options label, .terms_conditions label {
  margin-left: 1.75vw;
}

.agenda_date {
  font-size: 2.75em;
}

.agenda_table_container {
  text-align: center;
  margin-top: 2.5vh;
}

table {
  display: inline-block;
  margin-bottom: 2.5vh;
}

table, th, td {
  border: 1px solid #000;
  text-align: center !important;
}

td:nth-child(1) {
  font-size: 1.75em;
}

td:nth-child(1) {
  padding: 0.25em 0em;
}

th:nth-child(1) {
  width: 8vw;
}

th:nth-child(2) {
  width: 10vw;
}

th:nth-child(3) {
  width: 12vw;
}

th:nth-child(4) {
  width: 20vw;
}

th:nth-child(5) {
  width: 15vw;
}

th:nth-child(6) {
  width: 10vw;
}

th:nth-child(7) {
  width: 6vw;
}

th:nth-child(8) {
  width: 12vw;
}

.listing-map-object {
  height: 100% !important;
  width: 100% !important;
}
