html *{
  font-family:'Open Sans', sans-serif;
}
$button_color:#4c4b4b;
$section_padding:2.5vh;
header{
  text-align: center;
  border-bottom:1px solid grey;
  padding:1vw;
  width:100%;
  font-size: 1.25em;
  ul{
    list-style: none;
    display: inline-block;
    margin-bottom:0px;
    li{
      float:left;
      margin-right: 1.5em;
      cursor: pointer;
    }
  }
}
.top_padding{
  margin-top:$section_padding;
}
input[type="radio"] {
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;    /* Firefox */
  -ms-appearance: checkbox;     /* not currently supported */
}
body{
  text-align: center;
}
.coming_soon_title{
  font-size: 3.5em;
  margin-bottom:0px;
}
.main-subtitle{
  width:40vw;
  display: inline-block;
  margin-top:3.5vh;
}
.visitor_buttons{
  display: flex;
  justify-content: space-around;
  margin-top:15vh;
  *{
    text-transform:uppercase;
    height:15vh;
    width:25vw;
    background-color:$button_color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color:#fff;
    font-size:3vw;
    cursor: pointer;
  }
}
.sponsored_by{
  margin-top:15vh;
  h2{
    font-family: 'Open Sans',sans-serif;
    font-weight: lighter;
    color:#ada8a8;
  }
}
.host_title{
  font-size:4.5em;
}
.qualifications_msg{
  h3{
    margin:1.5vh 0vh 3vh 0vh;
  }
}
.qualifications_list{
  text-align:left;
  width:65vw;
  display:inline-block;
}
.slots_avail{
  margin-top:$section_padding;
  h3{
    display: inline;
    margin-right:2vw;
  }
  .slots_number{
    padding:0vw 1.15vw;
    border:1px solid #000;
    font-size:3.5vw;
    font-weight: bold;
  }
}
.address_checker{
  font-weight: lighter;
  h3{
    display: inline;
    margin-right:2vw;
    font-weight: lighter;
  }
  input{
    margin-right:.75vw;
    width:40vw;
  }
  .row{
    width:45vw;
    display: inline-block;
    *{
      text-align: left;
      padding:0px;
    }
  }
  .checker_submit{
    background-color:$button_color;
    padding:.5vw 1vw;
    // font-size:.65em;
    cursor: pointer;
    color:#fff;
  }
  .checker_addr{
    font-size:1.75em;
  }
}
.checker_margin{
  margin-top:$section_padding;
}
.radius_map{
  text-align: center;
  margin-top:4.5vh;
  .map_element{
    display: inline-block;
    border:1px solid #000;
    height:30vw;
    width:45vw;
  }
}
.host_form, .guest_form{
  // margin-top:$section_padding;
  form{
    text-align:left;
    width:45vw;
    display:inline-block;
    *{
      display:inline-block;
    }
    &>div{
      margin-top:$section_padding;
      width:100%;
    }
    .form_labels{
      width:40%;
      div{
        float:right;
        input,label{
          margin-left:.75em;
        }
      }
    }
    .form_inputs{
      width:55%;
      input{
        width:100%;
        border:1px solid #000;
      }
    }
  }
}
.guest_form{
  margin-bottom: 15vh;
}

.form_labels, .form_inputs{
  // iphone 6 portrait
  @media only screen
  and (min-width : 355px)
  and (max-width : 668px){
    display:none;
  }
}
.reminder{
  width:75%;
  display: inline-block;
  margin-top:$section_padding;
}
.feedback{
  .feedback_msg, .feedback_options{
    width:45vw;
    display: inline-block;
    text-align:left;
  }
  input,label{
  }
}
.terms_conditions{
  margin-top:$section_padding;
  label{
    cursor:pointer;
    text-decoration: underline;
  }
}
.submit_btn{
  margin-top:$section_padding;
  text-align: center;
}
.main_submit{
  font-size:2em;
  padding:.35em;
  color:#fff;
  background-color:$button_color;
  cursor: pointer;
  &:hover{
    background-color: #000;
  }
}
.feedback_options,.terms_conditions{
  label{
    margin-left:1.75vw;
  }
}

.agenda_date{
  font-size:2.75em;
}
.agenda_table_container{
  text-align: center;
  margin-top: $section_padding;
}
table{
  display:inline-block;
  margin-bottom:$section_padding;
}
table,th,td{
  border:1px solid #000;
  text-align: center !important;
}
@mixin table_width($row,$val){
  &:nth-child(#{$row}){
    width:$val;
  }
}
@mixin table_style($row,$attr,$val){
  &:nth-child(#{$row}){
    #{$attr}:#{$val};
  }
}
td{
  @include table_style(1,font-size,1.75em);
  @include table_style(1,padding,.25em 0em);
}
th{
  @include table_width(1,8vw);
  @include table_width(2,10vw);
  @include table_width(3,12vw);
  @include table_width(4,20vw);
  @include table_width(5,15vw);
  @include table_style(6,width,10vw);
  @include table_style(7,width,6vw);
  @include table_width(8,12vw);
}
.listing-map-object{
  height:100% !important;
  width:100% !important;
}
